.history
.ssh
.viminfo
.idea
.DS_Store
.swp
labdocs/*.zip
\~*
cmake-build-debug
CMakeLists.txt
lab01/lab01
lab01/lab01a
lab02/billingsjlab02
lab02/billingsjlab02a
lab02/billingsjlab02b
lab02/lab02b
lab03/lab03
lab03/lab03a
lab03/lab03b
lab04/billingsjLab04
lab04/Lab04a
lab04/lab04b
lab05/lab05a
lab05/lab05b
lab05/lab05
lab05/billingsjLab05
lab05/billingsjlab05
.vs
Debug
